<h1 *ngIf="!data.id" mat-dialog-title>Create New Course</h1>
<h1 *ngIf="data.id" mat-dialog-title>Edit Course</h1>
<form #courseForm="ngForm">
  <div mat-dialog-content id="editCourseContent">

    <div class="form-group">
      <label for="editCourseName">Course Name</label>
      <input matInput [(ngModel)]="data.name" name="name" required minlength="4" maxlength="150" #name="ngModel" id="editCourseName" placeholder="Enter course name">
      <div *ngIf="name.invalid && (name.dirty || name.touched)"
           class="alert alert-danger">

        <div *ngIf="name.errors.required">
          Name is required.
        </div>
        <div *ngIf="name.errors.minlength">
          Name must be at least 4 characters long.
        </div>
      </div>
    </div>
    <div class="form-group" id="editCourseDescrBlock">
      <label for="editCourseDescr">Description</label>
      <textarea matInput [(ngModel)]="data.description" name="description" id="editCourseDescr" placeholder="Describe course"></textarea>
    </div>
  </div>
  <div mat-dialog-actions class="dialog-actions">

    <button type="button" class="btn btn-success" [mat-dialog-close]="data" cdkFocusInitial [disabled]="!courseForm.form.valid">Save</button>
    <button type="button" class="btn btn-default" (click)="onNoClick()">Cancel</button>

  </div>
</form>
