
<div *ngIf="question">
  <h3><strong class="text-success">Question #{{question.itemOrder}} - {{typeString}}</strong></h3>
  <hr *ngIf="!auth.isUserCreator"/>

  <div *ngIf="auth.isUserCreator">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#previewQuestionTab{{question.itemOrder}}" attr.aria-controls="previewQuestionTab{{question.itemOrder}}" role="tab" data-toggle="tab">Preview</a></li>
      <li role="presentation"><a href="#editQuestionTab{{question.itemOrder}}" attr.aria-controls="editQuestionTab{{question.itemOrder}}" role="tab" data-toggle="tab">Edit Question</a></li>
      <li role="presentation"><a href="#answersTab{{question.itemOrder}}" attr.aria-controls="answersTab{{question.itemOrder}}" role="tab" data-toggle="tab">Answer Options</a></li>
    </ul>
  </div>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="previewQuestionTab{{question.itemOrder}}">
      <div [innerHTML]="question.question | sanitizeHtml"></div>
      <hr />
      <mat-radio-group *ngIf="question.type == 1" class="answer-radio-group">
        <div *ngFor="let answer of question.answerOptions" [class.bg-success]="answer.isCorrect">
          <mat-radio-button class="answer-radio-button" [value]="answer">
            {{answer.text}}
          </mat-radio-button>
        </div>
      </mat-radio-group>
      <div *ngIf="question.type == 2">
        <div *ngFor="let answer of question.answerOptions" [class.bg-success]="answer.isCorrect">
          <mat-checkbox [labelPosition]="after">
            {{answer.text}}
          </mat-checkbox>
        </div>
      </div>
    </div>

    <div *ngIf="auth.isUserCreator" role="tabpanel" class="tab-pane" id="editQuestionTab{{question.itemOrder}}">
      <div class="form-inline">
        <div class="form-group" id="editQuestionTypeBlock">
          <div class="input-group">
            <div class="input-group-addon">Question Type</div>
            <select matInput [(ngModel)]="question.type" placeholder="Select question type" class="form-control">
              <option value="1">Single Choice</option>
              <option value="2">Multiple Choices</option>
            </select>
          </div>
        </div>
      </div>
      <hr />
      <tyni-editor [(model)]="question.question"></tyni-editor>
    </div>

    <div *ngIf="auth.isUserCreator" role="tabpanel" class="tab-pane" id="answersTab{{question.itemOrder}}">
      <div *ngIf="question.answerOptions && auth.isUserCreator" class="answer-list-button-panel">
        <button class="btn btn-sm btn-success pull-right" (click)="openAnswerDialog()"><span class="glyphicon glyphicon-plus"></span> Create Answer</button>
      </div>

      <div class="clearfix"></div>

      <mat-radio-group *ngIf="question.type == 1" class="answer-radio-group">
        <div *ngFor="let answer of question.answerOptions" class="answer-list-item">
          <div *ngIf="auth.isUserCreator" class="pull-right list-item-button-box">
            <button type="button" class="btn btn-xs btn-info" (click)="moveAnswerUp(answer)"><span class="glyphicon glyphicon-arrow-up"></span></button>
            <button type="button" class="btn btn-xs btn-info" (click)="moveAnswerDown(answer)"><span class="glyphicon glyphicon-arrow-down"></span></button>
            <span> | </span>
            <button type="button" class="btn btn-xs btn-primary" (click)="openAnswerDialog(answer)"><span class="glyphicon glyphicon-pencil"></span></button>
            <button type="button" class="btn btn-xs btn-danger" (click)="deleteAnswer(answer)"><span class="glyphicon glyphicon-trash"></span></button>
          </div>
          <h4><strong class="text-success">Option #{{answer.itemOrder}}</strong></h4>
          <div class="clearfix"></div>
          <div [class.bg-success]="answer.isCorrect">
            <mat-radio-button class="answer-radio-button" [value]="answer">
              {{answer.text}}
            </mat-radio-button>
          </div>
        </div>
      </mat-radio-group>

      <div *ngIf="question.type == 2">
        <div *ngFor="let answer of question.answerOptions" class="answer-list-item">
          <div>
            <div *ngIf="auth.isUserCreator" class="pull-right list-item-button-box">
              <button type="button" class="btn btn-xs btn-info" (click)="moveAnswerUp(answer)"><span class="glyphicon glyphicon-arrow-up"></span></button>
              <button type="button" class="btn btn-xs btn-info" (click)="moveAnswerDown(answer)"><span class="glyphicon glyphicon-arrow-down"></span></button>
              <span> | </span>
              <button type="button" class="btn btn-xs btn-primary" (click)="openAnswerDialog(answer)"><span class="glyphicon glyphicon-pencil"></span></button>
              <button type="button" class="btn btn-xs btn-danger" (click)="deleteAnswer(answer)"><span class="glyphicon glyphicon-trash"></span></button>
            </div>
            <h4><strong class="text-success">Option #{{answer.itemOrder}}</strong></h4>
            <div class="clearfix"></div>
            <div [class.bg-success]="answer.isCorrect">
              <mat-checkbox [labelPosition]="after">
                {{answer.text}}
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
