<h1 *ngIf="!data.id" mat-dialog-title>Create New Question</h1>
<h1 *ngIf="data.id" mat-dialog-title>Edit Question</h1>
<form #testForm="ngForm">
  <div mat-dialog-content id="editQuestionContent">

    <div class="form-group">
      <label for="editQuestionName">Test Name</label>
      <input matInput [(ngModel)]="data.name" name="name" required minlength="4" maxlength="150" #name="ngModel" id="editQuestionName" placeholder="Enter test item name" class="form-control">
      <div *ngIf="name.invalid && (name.dirty || name.touched)"
           class="alert alert-danger">

        <div *ngIf="name.errors.required">
          Name is required.
        </div>
      </div>
    </div>
    <div class="form-horizontal" id="editQuestionTypeBlock">
      <label for="editQuestionType">Question Type</label>
      <select matInput [(ngModel)]="data.type" name="type" #name="ngModel" required id="editQuestionType" placeholder="Select question type" class="form-control">
        <option value="1">Single Choice</option>
        <option value="2">Multiple Choices</option>
      </select>
      <!--<div *ngIf="type.invalid && (type.dirty || type.touched)"
           class="alert alert-danger">

        <div *ngIf="type.errors.required">
          Type is required.
        </div>
      </div>-->
    </div>
  </div>
  <div mat-dialog-actions class="dialog-actions">

    <button type="button" class="btn btn-success" [mat-dialog-close]="data" cdkFocusInitial [disabled]="!testForm.form.valid">Save</button>
    <button type="button" class="btn btn-default" (click)="onNoClick()">Cancel</button>

  </div>
</form>
