<h1 *ngIf="!data.id" mat-dialog-title>Create New Module</h1>
<h1 *ngIf="data.id" mat-dialog-title>Edit Module</h1>
<form #moduleForm="ngForm">
  <div mat-dialog-content id="editModuleContent">

    <div class="form-group">
      <label for="editModuleName">Module Name</label>
      <input matInput [(ngModel)]="data.name" name="name" required minlength="4" maxlength="150" #name="ngModel" id="editModuleName" placeholder="Enter module name">
      <div *ngIf="name.invalid && (name.dirty || name.touched)"
           class="alert alert-danger">

        <div *ngIf="name.errors.required">
          Name is required.
        </div>
        <div *ngIf="name.errors.minlength">
          Name must be at least 4 characters long.
        </div>
      </div>
    </div>
    <div class="form-group" id="editModuleDescrBlock">
      <label for="editModuleDescr">Description</label>
      <textarea matInput [(ngModel)]="data.description" name="description" id="editModuleDescr" placeholder="Describe module"></textarea>
    </div>
  </div>
  <div mat-dialog-actions class="dialog-actions">

    <button type="button" class="btn btn-success" [mat-dialog-close]="data" cdkFocusInitial [disabled]="!moduleForm.form.valid">Save</button>
    <button type="button" class="btn btn-default" (click)="onNoClick()">Cancel</button>

  </div>
</form>
