@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

.answer-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.answer-radio-button {
  margin: 5px;
}
