/* You can add global styles to this file, and also import other style files */
.dialog-actions button {
  margin: 10px 5px;
  float: right;
}

.dialog-actions {
  -o-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
