<h1 mat-dialog-title>Answer #{{data.itemOrder}}</h1>
<form #answerForm="ngForm">
  <div mat-dialog-content id="editAnswerObject">

    <div class="form-group">
      <label for="editAnswserText">Answer Text</label>
      <input matInput [(ngModel)]="data.text" name="text" required minlength="4" maxlength="250" #text="ngModel" id="editAnswserText" placeholder="Enter answer text">
      <div *ngIf="text.invalid && (text.dirty || text.touched)"
           class="alert alert-danger">

        <div *ngIf="text.errors.required">
          Text is required.
        </div>
        <div *ngIf="text.errors.minlength">
          Text must be at least 4 characters long.
        </div>
      </div>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" [checked]="data.isCorrect" (change)="data.isCorrect = !data.isCorrect"> Correct choice
      </label>
    </div>
  </div>
  <div mat-dialog-actions class="dialog-actions">

    <button type="button" class="btn btn-success" [mat-dialog-close]="data" cdkFocusInitial [disabled]="!answerForm.form.valid">Save</button>
    <button type="button" class="btn btn-default" (click)="onNoClick()">Cancel</button>

  </div>
</form>
