
<p *ngIf="!module"><em>Loading Module...</em></p>

<div *ngIf="module">
  <div *ngIf="auth.isUserCreator" class="pull-right list-item-button-box">
    <button type="button" class="btn btn-sm btn-primary" (click)="saveChanges()"><span class="glyphicon glyphicon-floppy-save"></span></button>
  </div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#moduleTab" aria-controls="moduleTab" role="tab" data-toggle="tab">Module</a></li>
    <li *ngIf="auth.isUserCreator" role="presentation"><a href="#editContent" aria-controls="editContent" role="tab" data-toggle="tab">Edit Content</a></li>
    <li role="presentation"><a href="#moduleTests" aria-controls="moduleTests" role="tab" data-toggle="tab">Module Tests</a></li>
  </ul>

  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="moduleTab">
      <div>
        
        <h2><strong>{{module.name}}</strong></h2>
        <hr />
        <p>{{module.description}}</p>
        <hr />
        <h3><strong>Content Preview</strong></h3>
        <hr />
        <div [froalaView]="module.data"></div>
      </div>
    </div>

    <div *ngIf="auth.isUserCreator" role="tabpanel" class="tab-pane" id="editContent">
      <div [froalaEditor] [(froalaModel)]="module.data"></div>
    </div>

    <div role="tabpanel" class="tab-pane" id="moduleTests">
      <sb-mng-test-list [data-module-model]="module">Loading module tests....</sb-mng-test-list>
    </div>

  </div>
</div>

